@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@300&family=Mulish:wght@500&family=Poppins:wght@200&family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.center {
  margin: 5px;
  width: 50%;
}

.book-container {
  list-style: none;
  width: 100%;
  padding: 5px;
  border: 2px solid black;
}

p {
  font-family: mulish, sans-serif;
}

li {
  padding: 2px;
  width: 100%;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
}

li:nth-child(odd) {
  background-color: gray;
}

h2 {
  text-align: center;
  margin: 10px;
  font-family: inter, sans-serif;
}

.seperator {
  margin: 10px 25% 0 25%;
  width: 50%;
  border-radius: 2px;
  background-color: black;
}

form {
  margin-top: 10px;
}

input {
  width: 100%;
  margin-bottom: 10px;
}

.btn {
  float: right;
}
